body{
    margin: 0px;
    background-color: black;
    box-sizing: border-box;
    background-image: url('assets/img/bg.jpg');
    background-position:bottom;
    background-size: cover;
    font-family: 'Pathway Gothic One', sans-serif;
    
}
#cinema{
    display: block;
    margin: auto;
    margin-bottom: 3rem;
}
.titulos{
    font-size: 3rem;
}
section#A{
    text-align: justify;
    max-width: 1200px;
    margin: auto;
    color: black;
    font-weight: bold;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 18px 17px 14px 3px rgba(0,0,0,0.53); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 18px 17px 14px 3px rgba(0,0,0,0.53);
    background: radial-gradient(circle, rgba(241,240,246,0.5) 36%, rgba(25,25,25,0.8) 100%);
    margin-bottom: 4rem;
}
.fila{
    font-size: larger;
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}
p>img{
    width: 40%;
    float: right;
    margin-left: 0.5em;
    border-radius: 20px;
}

h1,h2{
    text-align: center;
}
.peli{
    font-style: italic;
}
#A button{
    background-image: url('assets/img/bgButton.jpg');
    background-size: 90%;
    background-position: 30% 60%;
    display: block;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #AAAAAA00;    
}

button:hover{
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 21px 26px 42px 23px rgba(15,65,255,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 21px 26px 42px 23px rgba(15,65,255,0);
}
article{
    margin: 1rem;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
    font-size: larger;
    font-weight: bolder;
    width: 90%;
}
thead{
    background-color: #353434CC;
    color: white;
}
th,td{
    padding: 0.5rem;
    border: 2px black solid;
    text-align: center;
}
td>img{
    width: 100%;
    vertical-align: bottom;
}
.fotos{
    padding: 0;
    width: 30%;
}
.muestrasBSO{   
    width: 20%;
    background-image: url('assets/img/pianobg.jpeg');
    background-position: center;
    background-size: cover;
    filter: blur(1.75px);
    padding: 0;
}

td{
    background-color: #ddcbb3bb;
}
#movil{
    display: none;
}

#mapa iframe{
    width: 100%;
}

#mapa{
    width: 50%;
}
#formulario{
    width: 50%;
    color: black;
    display: flex;
    flex-wrap: wrap;

}
#wrapperForm > div{
    margin: 1rem;
}

#form{
    max-width: 1200px;
    margin: auto;
}
#wrapperForm{
    display: flex;
}
#row1{
    display: flex;
    justify-content: space-between;
}
.lineas{
    margin-right: 1rem;
}

h4{
    margin: 0px;
    margin-top: 0.5rem;
}

#botonForm{
    width: 100%;
    margin-top: 1rem;
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: #ddcbb3bb;
}
textarea{
    resize: vertical;
}
@media(min-width: 576px) and (max-width: 1200px){
    section{
        width: 100%;
    }
    h2{
        text-align: center;
    }
    .fila{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    #wrapperForm{
        width: 100%;
        box-sizing: border-box;
    }
    #formulario{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 576px){
    #A{
        align-items: center;
        padding: 0rem;
    }
    #movil{
        display: table;
    }
    article{
        margin: 0px;
    }
    #cinema{
        width: 90%;
    }
    #tabla table:first-of-type{
        display: none;
    }
    .contenido img{
        width: 50%;
    }
    article{
        width: 90%;
    }
    .lineas{
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }
    .fila{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    #row1 input{
        width: 100%;
    }
    section{
        padding: 0rem;
    }
    #wrapperForm{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #form{
        width: 100%;
    }
    #mapa{
        width: 100%;
    }
    #formulario{
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #row1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}
