body{
    margin: 0px;
    background-color: black;
    box-sizing: border-box;
    background-image: url('assets/img/bg.jpg');
    background-position: bottom;
    background-size: cover;
    font-family: 'Pathway Gothic One', sans-serif;    
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    background: rgb(14,13,33);
    background: linear-gradient(0deg, rgba(14,13,33,0.6) 1%, rgba(194,165,124,0.6) 36%);
    border-bottom: 3px dashed rgb(90, 87, 87);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.izquierda{
    display: flex;
    align-items: center;
}
nav{
    width: 60%;
}
#enlaces-pagina{
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    font-size: 1.4em;
    
}
#enlaces-pagina li:hover{
    text-decoration: underline;
}
nav a{
    text-decoration: none;
    color: black;
}
#acceso{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.2em;
}
#acceso button{
    display: block;
    width: 100%;
}
.rowform{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#redes{
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
#twitter{
    color: rgb(14, 105, 223);
}
#spotify{
    color: rgb(74, 212, 20);
}
#youtube{
    color: rgb(227, 15, 15);
}
#logo{
    width: 10%;
    margin: 0.5rem 0;
}
#cinema{
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 8rem;
}
#retorno{
    right: 0px;
    bottom: 0px;
    position: fixed;
    display: inline-block;
    width: 5%;
    border-radius: 50px;
    margin: 1rem;
    border: 5px dotted rgb(65, 65, 209);
}
.titulos{
    font-size: 3rem;
}
section#A{
    text-align: justify;
    max-width: 1200px;
    margin: auto;
    color: black;
    font-weight: bold;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 18px 17px 14px 3px rgba(0,0,0,0.53); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 18px 17px 14px 3px rgba(0,0,0,0.53);
    background: radial-gradient(circle, rgba(241,240,246,0.5) 36%, rgba(25,25,25,0.8) 100%);
    margin-bottom: 4rem;
}
.fila{
    font-size: larger;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
p>img{
    width: 40%;
    float: right;
    margin-left: 0.5em;
    border-radius: 20px;
}

h1,h2{
    text-align: center;
}
.peli{
    font-style: italic;
}
#A button{
    display: block;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #AAAAAA00;    
}
header button{
    background: linear-gradient(0deg, rgba(14,13,33,0.6) 1%, rgba(194,165,124,0.6) 36%);
}
header button:hover{
    cursor: pointer;
    letter-spacing: 0.6rem;
}
#botonForm:hover{
    cursor: pointer;
    letter-spacing: 0.6rem;
}
header button:hover{
    transition-duration: 500ms;
}
#botonForm:hover{
    transition-duration: 500ms;
}
.botonA a{
    text-decoration: none;
    color: black;
}
.botonA {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(0deg, rgba(14,13,33,0.6) 1%, rgba(194,165,124,0.6) 36%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;

    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .botonA span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: black;
  }
  
  .botonA span:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .botonA:hover span {
    padding-right: 25px;
    font-family: inherit;
  }
  
  .botonA:hover span:after {
    opacity: 1;
    right: 0;
  }
article{
    margin: 1rem;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
    font-size: larger;
    font-weight: bolder;
    width: 90%;
}
th{
    background-color: #353434CC;
    color: white;
}
th,td{
    padding: 0.5rem;
    border: 2px black solid;
    text-align: center;
}
td>img{
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}
.lista:focus::-webkit-media-controls-enclosure {
    background-color: #97291abb;
}
.fotos{
    padding: 0;
    width: 30%;
}
audio{
    transition: transform 220ms linear;
    transition-delay: 100ms;
    
    
}
audio:focus{
    
    transform: scale(0.9) translate(0,130%);
    
}

td{
    background-color: #ddcbb3bb;
}
#movil{
    display: none;
}

#mapa iframe{
    width: 70%;
}

#mapa{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#formulario{
    width: 50%;
    color: black;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.15em;

}
#wrapperForm > div{
    margin: 1rem;
}

#form{
    max-width: 1500px;
    margin: auto;
}
#wrapperForm{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}
#row1{
    display: flex;
    justify-content: space-between;
}
.lineas{
    margin-right: 1rem;
}

h4{
    margin: 0px;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
}
.lineas input{
    background-color: #f7f3f388;
    border: none;
}
textarea{
    background-color: #f7f3f388;
    border: none;
}

#botonForm{
    width: 100%;
    margin-top: 1rem;
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: #ddcbb3bb;
    font-size: 1.1em;
}
textarea{
    resize: vertical;
    width: 100%
}
#grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,auto);
    width: 100%;
    height: 90vh;
    margin: auto;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 7px 8px 31px 32px rgba(0,0,0,0.51), 7px 8px 31px 32px rgba(8,116,182,0.51); 
    box-shadow: inset 4px 4px 15px 0px #000000, 7px 8px 31px 32px rgba(0,0,0,0.51), 7px 8px 31px 32px rgba(8,116,182,0.51);
}
#grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#compoCentro{
    grid-row: 3/-1;
    grid-column: 5/10;
}
#compo1{
    grid-row: 1/4;
    grid-column: 1/6;
}
#compo5{
    grid-row: 3/6;
    grid-column: 1/5;
}
#compo3{
    grid-row: 1/4;
    grid-column: 4/7;
}
#compo4{
    grid-row: 1/3;
    grid-column: 6/10;
}
#compo2{
    grid-row: 5/-1;
    grid-column: 1/5;
}
#compo6{
    grid-row: 3/7;
    grid-column: 10/-1;
}
#compo7{
    grid-row:1/3;
    grid-column: 10/-1;
}
#compo8{
    grid-row: 3/-1;
    grid-column: 10/-1;
}
#gridAjedrez{
    display: grid;
    background-image: url('assets/img/tablero.jpeg');
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(8, 64px);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 512px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;


}
.piezas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.piezas img{
    width: 90%;
}
.vacio{
    grid-row: 3/7;
    grid-column: 1/-1;
}
footer{
    background-color: #000000CC;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
footer article{
    margin-bottom: 0;
}
footer ul:first-of-type{
    list-style:square;
}
#interes li:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer ul a{
    text-decoration: none;
    color: white;
}
#localizacion li{
    list-style: none;
    margin-bottom: 0.2rem;
}
footer ul{
    padding: 0;
}
#contactoExtra{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#contactoExtra h4{
    align-self: flex-end;
}

@media(min-width: 576px) and (max-width: 1200px){
    section{
        width: 100%;
    }
    h2{
        text-align: center;
    }
    .fila{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    #wrapperForm{
        width: 100%;
        box-sizing: border-box;
    }
    #mapa{
        width: 100%;
    }
    #mapa iframe{
        width: 100%;
    }
    #formulario{
        box-sizing: border-box;
        width: 100%;
    }
    audio{
        width: 100%;
        transform:scale(1);
    }
    audio:focus{
        transform: none;        
    }
    .muestrasBSO{
        width: 40%;
    }
    .fotos{
        width: 40%;
    }
    .fotos img{
        object-fit: cover;
    }
}

@media(max-width: 576px){
    #A{
        align-items: center;
        padding: 0rem;
    }
    #movil{
        display: table;
    }
    .lista:focus::-webkit-media-controls-enclosure {
        background-color: #97291abb;
    }
    article{
        margin: 0px;
    }
    #gridAjedrez{
        grid-template-columns: repeat(8, 45px);
        grid-template-rows: repeat(8, 45px);
        width: 360px;
    }
    nav{
        width: 100%;
        flex-wrap: wrap;
    }
    .izquierda{
        justify-content: space-between;
        flex-direction: column;
    }
    #cinema{
        width: 60%;
        padding-top: 15rem;
    }
    #redes{
        width: 50%;
        align-items: center;
    }
    #tabla table:first-of-type{
        display: none;
    }
    audio:focus{
        transform: none;        
    }
    .contenido img{
        width: 50%;
    }
    article{
        width: 90%;
    }
    .lineas{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    textarea{
        width: 
        100%;
    }
    .fila{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    #row1 input{
        width: 100%;
    }
    section{
        padding: 0rem;
    }
    #wrapperForm{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #form{
        width: 100%;
    }
    #mapa{
        width: 100%;
    }
    #mapa iframe{
        width: 100%;
    }
    #logo{
        width: 17%;
    }
    #formulario{
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #row1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}
